* { margin: 0; padding: 0; box-sizing: border-box}
li { list-style: none}
body,html { height: 100%; overflow: hidden}
.page, .header, .content, .footer { position: absolute; left: 0; width: 100%; }
.page { bottom: 0; overflow: hidden; top:0;}

.header { top: 0; height: 50px; border-bottom: 1px solid #ccc; font-size: 20px; line-height: 50px; display: flex; text-align: center}
.header-btn { width: 60px;}
.header-tit { flex: 1;}

.content { top: 50px; bottom: 50px;}

.footer { bottom: 0; height: 50px; line-height: 50px; border-top:1px solid #ccc;}
.footer li { float: left; width: 25%; text-align: center}


/*登录部分*/

.login-list { padding: 10px; font-size: 14px;}
.login-list li { padding: 5px;}
.text-bar { width: 100%; height: 40px; padding: 13px;}

.go-forget { margin: 0 10px;}

.login-in,.go-reg { display: block;width: 100%; height: 40px; line-height: 40px; text-align: center; background-color: #333; color:#Fff}
.go-reg {background-color: #ccc;}
